/* Dark Mode Aesthetic */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #121212;
    color: #ffffff;
    margin: 20px;
}

h1, h2, h3 {
    color: white;
    background:blue;
    margin: 20px auto;
}

ol, ul, p{
    padding:30px;
}
.meow{
    padding: 100px;
}
